
name: Build and Push Image

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: JIB container build and publish
        uses: MathieuSoysal/jib-container-publish.yml@v2.1.3
        with:
          # Use docker.io for Docker Hub if empty
          REGISTRY: docker.io
          # github.repository as <your-account>/<your-repo>
          IMAGE_NAME: ${{ dall06.crm-spring }}
          # Tag name of the image to publish
          tag-name: ${{ github.event.release.crm-api-img }}
          # Username to login to registry
          USERNAME: ${{ secrets.DOCKER_USERNAME }}
          # Password to login to registry
          PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          java-version: 11